.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
}

.lista-filmes {
    margin: 15px;
}

.lista-filmes article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1d1d1d;
    margin: 15px;
    padding: 40px 35px 50px 35px;
    border-radius: 5px;
}

.lista-filmes strong {
    padding-bottom: 15px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.lista-filmes article a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #512da8;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all .3s;
}
.lista-filmes article a:hover {
    background-color: #5a31b8;
}

img {
    max-width: 800px;
    height: 350px;
}